@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #28324e !important;
}
.bg-warning {
  background-color: #28324e !important;
}
.bg-danger {
  background-color: #28324e !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-info {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-danger {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-info-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-danger-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #28324e !important;
}
.text-warning {
  color: #28324e !important;
}
.text-danger {
  color: #28324e !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #28324e;
}
.alert-warning {
  background-color: #28324e;
}
.alert-danger {
  background-color: #28324e;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
}
#menu-9 .link {
  font-size: 1.25rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #171c2c;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-6 .mbr-section-title,
#content8-6 p {
  text-align: right;
  color: #fff;
}
#content8-6 .mbr-section-title {
  text-align: center;
}
#content8-6 P {
  text-align: center;
  font-size: 36px;
  color: #ffff00;
}
#content8-6 .mbr-section-title SPAN {
  font-size: 32px;
}
#content1-4d H1 {
  text-align: center;
}
#content1-4d H2 {
  text-align: center;
}
#content1-4d P {
  text-align: center;
}
#content1-4d H4 {
  text-align: center;
}
#msg-box3-8w .mbr-section-title,
#msg-box3-8w p {
  color: #000;
}
#msg-box3-8w .mbr-section-title {
  color: #28324e;
}
#msg-box3-8w SPAN {
  font-size: 48px;
}
#msg-box3-8w .btn {
  font-size: 30px;
}
#social-buttons4-4i .mbr-section-title,
#social-buttons4-4i .btn-social {
  color: #fff;
}
#footer1-1g P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1w .navbar-caption {
  color: #ffffff;
}
#menu-1w .navbar-toggler {
  color: #ffffff;
}
#menu-1w .close-icon::before,
#menu-1w .close-icon::after {
  background-color: #ffffff;
}
#menu-1w .link,
#menu-1w .dropdown-item {
  color: #ffffff;
}
#menu-1w .link {
  font-size: 1.25rem;
}
#menu-1w .dropdown-item,
#menu-1w .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1w .link:hover,
#menu-1w .dropdown-item:hover,
#menu-1w .link:focus,
#menu-1w .dropdown-item:focus {
  color: #000000;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-menu {
  background: #171c2c;
}
#menu-1w .nav-dropdown-sm .link:focus,
#menu-1w .nav-dropdown-sm .link:hover,
#menu-1w .nav-dropdown-sm .dropdown-item:focus,
#menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1w .navbar,
#menu-1w .nav-dropdown-sm,
#menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1w .bg-color.transparent.opened .link:hover,
#menu-1w .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-1x .mbr-section-title,
#content8-1x p {
  text-align: right;
  color: #fff;
}
#content8-1x .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content8-1x P {
  text-align: right;
  color: #ffffff;
}
#footer1-1y P {
  color: #ffffff;
  font-size: 22px;
}
#menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-37 .navbar-caption {
  color: #ffffff;
}
#menu-37 .navbar-toggler {
  color: #ffffff;
}
#menu-37 .close-icon::before,
#menu-37 .close-icon::after {
  background-color: #ffffff;
}
#menu-37 .link,
#menu-37 .dropdown-item {
  color: #ffffff;
}
#menu-37 .link {
  font-size: 1.25rem;
}
#menu-37 .dropdown-item,
#menu-37 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-37 .link:hover,
#menu-37 .dropdown-item:hover,
#menu-37 .link:focus,
#menu-37 .dropdown-item:focus {
  color: #000000;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-menu {
  background: #171c2c;
}
#menu-37 .nav-dropdown-sm .link:focus,
#menu-37 .nav-dropdown-sm .link:hover,
#menu-37 .nav-dropdown-sm .dropdown-item:focus,
#menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-37 .navbar,
#menu-37 .nav-dropdown-sm,
#menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-37 .bg-color.transparent.opened .link:hover,
#menu-37 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-39 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-3p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3p .navbar-caption {
  color: #ffffff;
}
#menu-3p .navbar-toggler {
  color: #ffffff;
}
#menu-3p .close-icon::before,
#menu-3p .close-icon::after {
  background-color: #ffffff;
}
#menu-3p .link,
#menu-3p .dropdown-item {
  color: #ffffff;
}
#menu-3p .link {
  font-size: 1.25rem;
}
#menu-3p .dropdown-item,
#menu-3p .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3p .link:hover,
#menu-3p .dropdown-item:hover,
#menu-3p .link:focus,
#menu-3p .dropdown-item:focus {
  color: #000000;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-menu {
  background: #171c2c;
}
#menu-3p .nav-dropdown-sm .link:focus,
#menu-3p .nav-dropdown-sm .link:hover,
#menu-3p .nav-dropdown-sm .dropdown-item:focus,
#menu-3p .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-3p .navbar,
#menu-3p .nav-dropdown-sm,
#menu-3p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3p .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-3p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3p .bg-color.transparent.opened .link:hover,
#menu-3p .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-3q .mbr-section-title,
#header3-3q .mbr-section-subtitle {
  text-align: center;
}
#content1-3s P {
  text-align: right;
  font-size: 22px;
}
#content1-3s H2 {
  font-size: 22px;
}
#content1-3s H1 {
  font-size: 48px;
}
#msg-box3-94 .mbr-section-title,
#msg-box3-94 p {
  color: #000;
}
#msg-box3-94 .mbr-section-title {
  color: #28324e;
}
#msg-box3-94 SPAN {
  font-size: 48px;
}
#msg-box3-94 .btn {
  font-size: 30px;
}
#social-buttons4-4v .mbr-section-title,
#social-buttons4-4v .btn-social {
  color: #fff;
}
#footer1-3u P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#features4-17 .card-subtitle {
  color: #bcbcbc;
}
#features4-17 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#msg-box3-93 .mbr-section-title,
#msg-box3-93 p {
  color: #000;
}
#msg-box3-93 .mbr-section-title {
  color: #28324e;
}
#msg-box3-93 SPAN {
  font-size: 48px;
}
#msg-box3-93 .btn {
  font-size: 30px;
}
#social-buttons4-10 .mbr-section-title,
#social-buttons4-10 .btn-social {
  color: #fff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
}
#menu-a .link {
  font-size: 1.25rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #171c2c;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-b .mbr-section-title,
#content8-b p {
  text-align: right;
  color: #fff;
}
#content8-b .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content8-b P {
  text-align: right;
  color: #ffffff;
}
#msg-box3-8z .mbr-section-title,
#msg-box3-8z p {
  color: #000;
}
#msg-box3-8z .mbr-section-title {
  color: #28324e;
}
#msg-box3-8z SPAN {
  font-size: 48px;
}
#msg-box3-8z .btn {
  font-size: 30px;
}
#social-buttons4-5k .mbr-section-title,
#social-buttons4-5k .btn-social {
  color: #fff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box6-g .mbr-section-title,
#msg-box6-g .lead p {
  color: #fff;
}
#msg-box6-g P {
  text-align: center;
}
#msg-box6-g H3 {
  text-align: center;
}
#msg-box6-h .mbr-section-title,
#msg-box6-h .lead p {
  color: #fff;
}
#msg-box6-h P {
  text-align: center;
}
#msg-box6-h H3 {
  text-align: center;
  color: #ffffff;
}
#msg-box6-i .mbr-section-title,
#msg-box6-i .lead p {
  color: #fff;
}
#msg-box6-i P {
  text-align: center;
}
#msg-box6-i H3 {
  text-align: center;
  color: #ffffff;
}
#features2-s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#testimonials4-o .mbr-section-title {
  color: #ffffff;
}
#testimonials4-o .card-footer > div {
  color: #ffffff;
}
#msg-box3-91 .mbr-section-title,
#msg-box3-91 p {
  color: #000;
}
#msg-box3-91 .mbr-section-title {
  color: #28324e;
}
#msg-box3-91 SPAN {
  font-size: 48px;
}
#msg-box3-91 .btn {
  font-size: 30px;
}
#social-buttons4-5m .mbr-section-title,
#social-buttons4-5m .btn-social {
  color: #fff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#content1-1m P {
  text-align: right;
  font-size: 22px;
}
#content1-1m H2 {
  font-size: 30px;
}
#content1-1m H1 {
  font-size: 36px;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-95 .mbr-section-title,
#msg-box3-95 p {
  color: #000;
}
#msg-box3-95 .mbr-section-title {
  color: #28324e;
}
#msg-box3-95 SPAN {
  font-size: 48px;
}
#msg-box3-95 .btn {
  font-size: 30px;
}
#social-buttons4-4h .mbr-section-title,
#social-buttons4-4h .btn-social {
  color: #fff;
}
#menu-3v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3v .navbar-caption {
  color: #ffffff;
}
#menu-3v .navbar-toggler {
  color: #ffffff;
}
#menu-3v .close-icon::before,
#menu-3v .close-icon::after {
  background-color: #ffffff;
}
#menu-3v .link,
#menu-3v .dropdown-item {
  color: #ffffff;
}
#menu-3v .link {
  font-size: 1.25rem;
}
#menu-3v .dropdown-item,
#menu-3v .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3v .link:hover,
#menu-3v .dropdown-item:hover,
#menu-3v .link:focus,
#menu-3v .dropdown-item:focus {
  color: #000000;
}
#menu-3v .link[aria-expanded="true"],
#menu-3v .dropdown-menu {
  background: #171c2c;
}
#menu-3v .nav-dropdown-sm .link:focus,
#menu-3v .nav-dropdown-sm .link:hover,
#menu-3v .nav-dropdown-sm .dropdown-item:focus,
#menu-3v .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-3v .navbar,
#menu-3v .nav-dropdown-sm,
#menu-3v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3v .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-3v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3v .bg-color.transparent.opened .link:hover,
#menu-3v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-3v .link[aria-expanded="true"],
#menu-3v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-3w .mbr-section-title,
#header3-3w .mbr-section-subtitle {
  text-align: center;
}
#content1-3y P {
  text-align: right;
  font-size: 22px;
}
#content1-3y H2 {
  font-size: 22px;
}
#content1-3y H1 {
  font-size: 22px;
}
#msg-box3-96 .mbr-section-title,
#msg-box3-96 p {
  color: #000;
}
#msg-box3-96 .mbr-section-title {
  color: #28324e;
}
#msg-box3-96 SPAN {
  font-size: 48px;
}
#msg-box3-96 .btn {
  font-size: 30px;
}
#social-buttons4-4w .mbr-section-title,
#social-buttons4-4w .btn-social {
  color: #fff;
}
#footer1-40 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
}
#menu-1z .navbar-toggler {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #ffffff;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #ffffff;
}
#menu-1z .link {
  font-size: 1.25rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #000000;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #171c2c;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-21 P {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-8t .mbr-section-title,
#msg-box3-8t p {
  color: #000;
}
#msg-box3-8v .mbr-section-title,
#msg-box3-8v p {
  color: #000;
}
#msg-box3-8v .mbr-section-title {
  color: #28324e;
}
#msg-box3-8v SPAN {
  font-size: 48px;
}
#msg-box3-8v .btn {
  font-size: 30px;
}
#social-buttons4-59 .mbr-section-title,
#social-buttons4-59 .btn-social {
  color: #fff;
}
#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
}
#menu-5s .navbar-toggler {
  color: #ffffff;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #ffffff;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #ffffff;
}
#menu-5s .link {
  font-size: 1.25rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #000000;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #171c2c;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-5s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-5t P {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-98 .mbr-section-title,
#msg-box3-98 p {
  color: #000;
}
#msg-box3-98 .mbr-section-title {
  color: #28324e;
}
#msg-box3-98 SPAN {
  font-size: 48px;
}
#msg-box3-98 .btn {
  font-size: 30px;
}
#social-buttons4-5x .mbr-section-title,
#social-buttons4-5x .btn-social {
  color: #fff;
}
#menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2m .navbar-caption {
  color: #ffffff;
}
#menu-2m .navbar-toggler {
  color: #ffffff;
}
#menu-2m .close-icon::before,
#menu-2m .close-icon::after {
  background-color: #ffffff;
}
#menu-2m .link,
#menu-2m .dropdown-item {
  color: #ffffff;
}
#menu-2m .link {
  font-size: 1.25rem;
}
#menu-2m .dropdown-item,
#menu-2m .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2m .link:hover,
#menu-2m .dropdown-item:hover,
#menu-2m .link:focus,
#menu-2m .dropdown-item:focus {
  color: #000000;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-menu {
  background: #171c2c;
}
#menu-2m .nav-dropdown-sm .link:focus,
#menu-2m .nav-dropdown-sm .link:hover,
#menu-2m .nav-dropdown-sm .dropdown-item:focus,
#menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2m .navbar,
#menu-2m .nav-dropdown-sm,
#menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2m .bg-color.transparent.opened .link:hover,
#menu-2m .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#content1-4x P {
  text-align: right;
  font-size: 22px;
}
#content1-4x H2 {
  font-size: 22px;
  text-align: left;
}
#content1-4x H1 {
  font-size: 36px;
  text-align: right;
}
#msg-box3-99 .mbr-section-title,
#msg-box3-99 p {
  color: #000;
}
#msg-box3-99 .mbr-section-title {
  color: #28324e;
}
#msg-box3-99 SPAN {
  font-size: 48px;
}
#msg-box3-99 .btn {
  font-size: 30px;
}
#social-buttons4-4y .mbr-section-title,
#social-buttons4-4y .btn-social {
  color: #fff;
}
#footer1-2u P {
  color: #ffffff;
  font-size: 22px;
}
#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
}
#menu-24 .link {
  font-size: 1.25rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #000000;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #171c2c;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#content1-4k P {
  text-align: right;
  font-size: 22px;
}
#content1-4k H2 {
  font-size: 30px;
}
#content1-4k H1 {
  font-size: 36px;
}
#content1-4n P {
  text-align: right;
  font-size: 22px;
}
#content1-4n H2 {
  font-size: 22px;
  text-align: left;
}
#content1-4n H1 {
  font-size: 36px;
  text-align: right;
}
#content1-4p P {
  text-align: right;
  font-size: 22px;
}
#content1-4p H2 {
  font-size: 22px;
}
#content1-4p H1 {
  font-size: 36px;
}
#content1-4r P {
  text-align: right;
  font-size: 22px;
}
#content1-4r H2 {
  font-size: 22px;
}
#content1-4r H1 {
  font-size: 36px;
}
#content1-4r DIV {
  text-align: right;
}
#msg-box3-9a .mbr-section-title,
#msg-box3-9a p {
  color: #000;
}
#msg-box3-9a .mbr-section-title {
  color: #28324e;
}
#msg-box3-9a SPAN {
  font-size: 48px;
}
#msg-box3-9a .btn {
  font-size: 30px;
}
#social-buttons4-4t .mbr-section-title,
#social-buttons4-4t .btn-social {
  color: #fff;
}
#footer1-2c P {
  color: #ffffff;
  font-size: 22px;
}
#menu-6e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6e .navbar-caption {
  color: #ffffff;
}
#menu-6e .navbar-toggler {
  color: #ffffff;
}
#menu-6e .close-icon::before,
#menu-6e .close-icon::after {
  background-color: #ffffff;
}
#menu-6e .link,
#menu-6e .dropdown-item {
  color: #ffffff;
}
#menu-6e .link {
  font-size: 1.25rem;
}
#menu-6e .dropdown-item,
#menu-6e .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-6e .link:hover,
#menu-6e .dropdown-item:hover,
#menu-6e .link:focus,
#menu-6e .dropdown-item:focus {
  color: #000000;
}
#menu-6e .link[aria-expanded="true"],
#menu-6e .dropdown-menu {
  background: #171c2c;
}
#menu-6e .nav-dropdown-sm .link:focus,
#menu-6e .nav-dropdown-sm .link:hover,
#menu-6e .nav-dropdown-sm .dropdown-item:focus,
#menu-6e .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-6e .navbar,
#menu-6e .nav-dropdown-sm,
#menu-6e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6e .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-6e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6e .bg-color.transparent.opened .link:hover,
#menu-6e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-6e .link[aria-expanded="true"],
#menu-6e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-6f .mbr-section-title,
#header3-6f .mbr-section-subtitle {
  text-align: center;
}
#content1-6h P {
  text-align: right;
  font-size: 22px;
}
#content1-6h H2 {
  font-size: 30px;
}
#content1-6h H1 {
  font-size: 36px;
}
#content1-6i P {
  text-align: right;
  font-size: 22px;
}
#content1-6i H2 {
  font-size: 22px;
}
#content1-6i H1 {
  font-size: 36px;
}
#msg-box3-9b .mbr-section-title,
#msg-box3-9b p {
  color: #000;
}
#msg-box3-9b .mbr-section-title {
  color: #28324e;
}
#msg-box3-9b SPAN {
  font-size: 48px;
}
#msg-box3-9b .btn {
  font-size: 30px;
}
#social-buttons4-6m .mbr-section-title,
#social-buttons4-6m .btn-social {
  color: #fff;
}
#footer1-6n P {
  color: #ffffff;
  font-size: 22px;
}
#menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2d .navbar-caption {
  color: #ffffff;
}
#menu-2d .navbar-toggler {
  color: #ffffff;
}
#menu-2d .close-icon::before,
#menu-2d .close-icon::after {
  background-color: #ffffff;
}
#menu-2d .link,
#menu-2d .dropdown-item {
  color: #ffffff;
}
#menu-2d .link {
  font-size: 1.25rem;
}
#menu-2d .dropdown-item,
#menu-2d .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2d .link:hover,
#menu-2d .dropdown-item:hover,
#menu-2d .link:focus,
#menu-2d .dropdown-item:focus {
  color: #000000;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-menu {
  background: #171c2c;
}
#menu-2d .nav-dropdown-sm .link:focus,
#menu-2d .nav-dropdown-sm .link:hover,
#menu-2d .nav-dropdown-sm .dropdown-item:focus,
#menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2d .navbar,
#menu-2d .nav-dropdown-sm,
#menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2d .bg-color.transparent.opened .link:hover,
#menu-2d .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2e .mbr-section-title,
#header3-2e .mbr-section-subtitle {
  text-align: center;
}
#content1-51 P {
  text-align: right;
  font-size: 22px;
}
#content1-51 H2 {
  font-size: 22px;
}
#content1-51 H1 {
  font-size: 36px;
}
#content1-51 DIV {
  text-align: right;
}
#msg-box3-9i .mbr-section-title,
#msg-box3-9i p {
  color: #000;
}
#msg-box3-9i .mbr-section-title {
  color: #28324e;
}
#msg-box3-9i SPAN {
  font-size: 48px;
}
#msg-box3-9i .btn {
  font-size: 30px;
}
#social-buttons4-52 .mbr-section-title,
#social-buttons4-52 .btn-social {
  color: #fff;
}
#footer1-2l P {
  color: #ffffff;
  font-size: 22px;
}
#menu-5y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5y .navbar-caption {
  color: #ffffff;
}
#menu-5y .navbar-toggler {
  color: #ffffff;
}
#menu-5y .close-icon::before,
#menu-5y .close-icon::after {
  background-color: #ffffff;
}
#menu-5y .link,
#menu-5y .dropdown-item {
  color: #ffffff;
}
#menu-5y .link {
  font-size: 1.25rem;
}
#menu-5y .dropdown-item,
#menu-5y .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-5y .link:hover,
#menu-5y .dropdown-item:hover,
#menu-5y .link:focus,
#menu-5y .dropdown-item:focus {
  color: #000000;
}
#menu-5y .link[aria-expanded="true"],
#menu-5y .dropdown-menu {
  background: #171c2c;
}
#menu-5y .nav-dropdown-sm .link:focus,
#menu-5y .nav-dropdown-sm .link:hover,
#menu-5y .nav-dropdown-sm .dropdown-item:focus,
#menu-5y .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-5y .navbar,
#menu-5y .nav-dropdown-sm,
#menu-5y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5y .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-5y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5y .bg-color.transparent.opened .link:hover,
#menu-5y .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-5y .link[aria-expanded="true"],
#menu-5y .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-5z .mbr-section-title,
#header3-5z .mbr-section-subtitle {
  text-align: center;
}
#content1-61 P {
  text-align: right;
  font-size: 22px;
}
#content1-61 H2 {
  font-size: 30px;
}
#content1-61 H1 {
  font-size: 36px;
}
#content1-6d P {
  text-align: right;
  font-size: 22px;
}
#content1-6d H2 {
  font-size: 22px;
}
#content1-6d H1 {
  font-size: 36px;
}
#msg-box3-9c .mbr-section-title,
#msg-box3-9c p {
  color: #000;
}
#msg-box3-9c .mbr-section-title {
  color: #28324e;
}
#msg-box3-9c SPAN {
  font-size: 48px;
}
#msg-box3-9c .btn {
  font-size: 30px;
}
#social-buttons4-6b .mbr-section-title,
#social-buttons4-6b .btn-social {
  color: #fff;
}
#footer1-6c P {
  color: #ffffff;
  font-size: 22px;
}
#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
}
#menu-2v .link {
  font-size: 1.25rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #000000;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #171c2c;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2w .mbr-section-title,
#header3-2w .mbr-section-subtitle {
  text-align: center;
}
#content1-56 P {
  text-align: right;
  font-size: 22px;
}
#content1-56 H2 {
  font-size: 22px;
}
#content1-56 H1 {
  font-size: 36px;
}
#msg-box3-9j .mbr-section-title,
#msg-box3-9j p {
  color: #000;
}
#msg-box3-9j .mbr-section-title {
  color: #28324e;
}
#msg-box3-9j SPAN {
  font-size: 48px;
}
#msg-box3-9j .btn {
  font-size: 30px;
}
#social-buttons4-54 .mbr-section-title,
#social-buttons4-54 .btn-social {
  color: #fff;
}
#footer1-33 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
}
#menu-8i .link {
  font-size: 1.25rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #000000;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #171c2c;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-8j .mbr-section-title,
#header3-8j .mbr-section-subtitle {
  text-align: center;
}
#content1-8l P {
  text-align: right;
  font-size: 22px;
}
#content1-8l H2 {
  font-size: 22px;
}
#content1-8l H1 {
  font-size: 36px;
}
#content1-8l SPAN {
  text-align: right;
}
#content1-8m P {
  text-align: right;
  font-size: 22px;
}
#content1-8m H2 {
  font-size: 22px;
}
#content1-8m H1 {
  font-size: 36px;
}
#msg-box3-9d .mbr-section-title,
#msg-box3-9d p {
  color: #000;
}
#msg-box3-9d .mbr-section-title {
  color: #28324e;
}
#msg-box3-9d SPAN {
  font-size: 48px;
}
#msg-box3-9d .btn {
  font-size: 30px;
}
#social-buttons4-8q .mbr-section-title,
#social-buttons4-8q .btn-social {
  color: #fff;
}
#footer1-8r P {
  color: #ffffff;
  font-size: 22px;
}
#menu-88 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-88 .navbar-caption {
  color: #ffffff;
}
#menu-88 .navbar-toggler {
  color: #ffffff;
}
#menu-88 .close-icon::before,
#menu-88 .close-icon::after {
  background-color: #ffffff;
}
#menu-88 .link,
#menu-88 .dropdown-item {
  color: #ffffff;
}
#menu-88 .link {
  font-size: 1.25rem;
}
#menu-88 .dropdown-item,
#menu-88 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-88 .link:hover,
#menu-88 .dropdown-item:hover,
#menu-88 .link:focus,
#menu-88 .dropdown-item:focus {
  color: #000000;
}
#menu-88 .link[aria-expanded="true"],
#menu-88 .dropdown-menu {
  background: #171c2c;
}
#menu-88 .nav-dropdown-sm .link:focus,
#menu-88 .nav-dropdown-sm .link:hover,
#menu-88 .nav-dropdown-sm .dropdown-item:focus,
#menu-88 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-88 .navbar,
#menu-88 .nav-dropdown-sm,
#menu-88 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-88 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-88 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-88 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-88 .bg-color.transparent.opened .link:hover,
#menu-88 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-88 .link[aria-expanded="true"],
#menu-88 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-89 .mbr-section-title,
#header3-89 .mbr-section-subtitle {
  text-align: center;
}
#content1-8b P {
  text-align: right;
  font-size: 22px;
}
#content1-8b H2 {
  font-size: 22px;
}
#content1-8b H1 {
  font-size: 36px;
}
#content1-8b SPAN {
  text-align: right;
}
#content1-8c P {
  text-align: right;
  font-size: 22px;
}
#content1-8c H2 {
  font-size: 22px;
}
#content1-8c H1 {
  font-size: 36px;
}
#msg-box3-9e .mbr-section-title,
#msg-box3-9e p {
  color: #000;
}
#msg-box3-9e .mbr-section-title {
  color: #28324e;
}
#msg-box3-9e SPAN {
  font-size: 48px;
}
#msg-box3-9e .btn {
  font-size: 30px;
}
#social-buttons4-8g .mbr-section-title,
#social-buttons4-8g .btn-social {
  color: #fff;
}
#footer1-8h P {
  color: #ffffff;
  font-size: 22px;
}
#menu-7y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7y .navbar-caption {
  color: #ffffff;
}
#menu-7y .navbar-toggler {
  color: #ffffff;
}
#menu-7y .close-icon::before,
#menu-7y .close-icon::after {
  background-color: #ffffff;
}
#menu-7y .link,
#menu-7y .dropdown-item {
  color: #ffffff;
}
#menu-7y .link {
  font-size: 1.25rem;
}
#menu-7y .dropdown-item,
#menu-7y .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-7y .link:hover,
#menu-7y .dropdown-item:hover,
#menu-7y .link:focus,
#menu-7y .dropdown-item:focus {
  color: #000000;
}
#menu-7y .link[aria-expanded="true"],
#menu-7y .dropdown-menu {
  background: #171c2c;
}
#menu-7y .nav-dropdown-sm .link:focus,
#menu-7y .nav-dropdown-sm .link:hover,
#menu-7y .nav-dropdown-sm .dropdown-item:focus,
#menu-7y .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-7y .navbar,
#menu-7y .nav-dropdown-sm,
#menu-7y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7y .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-7y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7y .bg-color.transparent.opened .link:hover,
#menu-7y .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-7y .link[aria-expanded="true"],
#menu-7y .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-7z .mbr-section-title,
#header3-7z .mbr-section-subtitle {
  text-align: center;
}
#content1-81 P {
  text-align: right;
  font-size: 22px;
}
#content1-81 H2 {
  font-size: 22px;
}
#content1-81 H1 {
  font-size: 36px;
}
#content1-81 SPAN {
  text-align: right;
}
#content1-82 P {
  text-align: right;
  font-size: 22px;
}
#content1-82 H2 {
  font-size: 22px;
}
#content1-82 H1 {
  font-size: 36px;
}
#msg-box3-9f .mbr-section-title,
#msg-box3-9f p {
  color: #000;
}
#msg-box3-9f .mbr-section-title {
  color: #28324e;
}
#msg-box3-9f SPAN {
  font-size: 48px;
}
#msg-box3-9f .btn {
  font-size: 30px;
}
#social-buttons4-86 .mbr-section-title,
#social-buttons4-86 .btn-social {
  color: #fff;
}
#footer1-87 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-7o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7o .navbar-caption {
  color: #ffffff;
}
#menu-7o .navbar-toggler {
  color: #ffffff;
}
#menu-7o .close-icon::before,
#menu-7o .close-icon::after {
  background-color: #ffffff;
}
#menu-7o .link,
#menu-7o .dropdown-item {
  color: #ffffff;
}
#menu-7o .link {
  font-size: 1.25rem;
}
#menu-7o .dropdown-item,
#menu-7o .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-7o .link:hover,
#menu-7o .dropdown-item:hover,
#menu-7o .link:focus,
#menu-7o .dropdown-item:focus {
  color: #000000;
}
#menu-7o .link[aria-expanded="true"],
#menu-7o .dropdown-menu {
  background: #171c2c;
}
#menu-7o .nav-dropdown-sm .link:focus,
#menu-7o .nav-dropdown-sm .link:hover,
#menu-7o .nav-dropdown-sm .dropdown-item:focus,
#menu-7o .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-7o .navbar,
#menu-7o .nav-dropdown-sm,
#menu-7o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7o .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-7o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7o .bg-color.transparent.opened .link:hover,
#menu-7o .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-7o .link[aria-expanded="true"],
#menu-7o .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-7p .mbr-section-title,
#header3-7p .mbr-section-subtitle {
  text-align: center;
}
#content1-7r P {
  text-align: right;
  font-size: 22px;
}
#content1-7r H2 {
  font-size: 30px;
}
#content1-7r H1 {
  font-size: 36px;
}
#content1-7r H4 {
  font-size: 22px;
}
#content1-7s P {
  text-align: right;
  font-size: 22px;
}
#content1-7s H2 {
  font-size: 22px;
}
#content1-7s H1 {
  font-size: 36px;
}
#msg-box3-9g .mbr-section-title,
#msg-box3-9g p {
  color: #000;
}
#msg-box3-9g .mbr-section-title {
  color: #28324e;
}
#msg-box3-9g SPAN {
  font-size: 48px;
}
#msg-box3-9g .btn {
  font-size: 30px;
}
#social-buttons4-7w .mbr-section-title,
#social-buttons4-7w .btn-social {
  color: #fff;
}
#footer1-7x P {
  color: #ffffff;
  font-size: 22px;
}
#menu-7e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7e .navbar-caption {
  color: #ffffff;
}
#menu-7e .navbar-toggler {
  color: #ffffff;
}
#menu-7e .close-icon::before,
#menu-7e .close-icon::after {
  background-color: #ffffff;
}
#menu-7e .link,
#menu-7e .dropdown-item {
  color: #ffffff;
}
#menu-7e .link {
  font-size: 1.25rem;
}
#menu-7e .dropdown-item,
#menu-7e .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-7e .link:hover,
#menu-7e .dropdown-item:hover,
#menu-7e .link:focus,
#menu-7e .dropdown-item:focus {
  color: #000000;
}
#menu-7e .link[aria-expanded="true"],
#menu-7e .dropdown-menu {
  background: #171c2c;
}
#menu-7e .nav-dropdown-sm .link:focus,
#menu-7e .nav-dropdown-sm .link:hover,
#menu-7e .nav-dropdown-sm .dropdown-item:focus,
#menu-7e .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-7e .navbar,
#menu-7e .nav-dropdown-sm,
#menu-7e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7e .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-7e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7e .bg-color.transparent.opened .link:hover,
#menu-7e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-7e .link[aria-expanded="true"],
#menu-7e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-7f .mbr-section-title,
#header3-7f .mbr-section-subtitle {
  text-align: center;
}
#content1-7h P {
  text-align: right;
  font-size: 22px;
}
#content1-7h H2 {
  font-size: 30px;
}
#content1-7h H1 {
  font-size: 36px;
}
#msg-box3-9h .mbr-section-title,
#msg-box3-9h p {
  color: #000;
}
#msg-box3-9h .mbr-section-title {
  color: #28324e;
}
#msg-box3-9h SPAN {
  font-size: 48px;
}
#msg-box3-9h .btn {
  font-size: 30px;
}
#social-buttons4-7m .mbr-section-title,
#social-buttons4-7m .btn-social {
  color: #fff;
}
#footer1-7n P {
  color: #ffffff;
  font-size: 22px;
}
