@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #28324e !important;
}
.bg-warning {
  background-color: #28324e !important;
}
.bg-danger {
  background-color: #28324e !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-info {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-danger {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-info-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.btn-danger-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #28324e !important;
}
.text-warning {
  color: #28324e !important;
}
.text-danger {
  color: #28324e !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #28324e;
}
.alert-warning {
  background-color: #28324e;
}
.alert-danger {
  background-color: #28324e;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
}
#menu-9 .link {
  font-size: 1.25rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #171c2c;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-6 .mbr-section-title,
#content8-6 p {
  text-align: right;
  color: #fff;
}
#content8-6 .mbr-section-title {
  text-align: center;
}
#content8-6 P {
  text-align: center;
  font-size: 36px;
  color: #ffff00;
}
#content8-6 .mbr-section-title SPAN {
  font-size: 32px;
}
#content1-4d H1 {
  text-align: center;
}
#content1-4d H2 {
  text-align: right;
}
#social-buttons4-4i .mbr-section-title,
#social-buttons4-4i .btn-social {
  color: #fff;
}
#footer1-1g P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1w .navbar-caption {
  color: #ffffff;
}
#menu-1w .navbar-toggler {
  color: #ffffff;
}
#menu-1w .close-icon::before,
#menu-1w .close-icon::after {
  background-color: #ffffff;
}
#menu-1w .link,
#menu-1w .dropdown-item {
  color: #ffffff;
}
#menu-1w .link {
  font-size: 1.25rem;
}
#menu-1w .dropdown-item,
#menu-1w .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1w .link:hover,
#menu-1w .dropdown-item:hover,
#menu-1w .link:focus,
#menu-1w .dropdown-item:focus {
  color: #000000;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-menu {
  background: #171c2c;
}
#menu-1w .nav-dropdown-sm .link:focus,
#menu-1w .nav-dropdown-sm .link:hover,
#menu-1w .nav-dropdown-sm .dropdown-item:focus,
#menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1w .navbar,
#menu-1w .nav-dropdown-sm,
#menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1w .bg-color.transparent.opened .link:hover,
#menu-1w .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-1x .mbr-section-title,
#content8-1x p {
  text-align: right;
  color: #fff;
}
#content8-1x .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content8-1x P {
  text-align: right;
  color: #ffffff;
}
#footer1-1y P {
  color: #ffffff;
  font-size: 22px;
}
#menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-37 .navbar-caption {
  color: #ffffff;
}
#menu-37 .navbar-toggler {
  color: #ffffff;
}
#menu-37 .close-icon::before,
#menu-37 .close-icon::after {
  background-color: #ffffff;
}
#menu-37 .link,
#menu-37 .dropdown-item {
  color: #ffffff;
}
#menu-37 .link {
  font-size: 1.25rem;
}
#menu-37 .dropdown-item,
#menu-37 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-37 .link:hover,
#menu-37 .dropdown-item:hover,
#menu-37 .link:focus,
#menu-37 .dropdown-item:focus {
  color: #000000;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-menu {
  background: #171c2c;
}
#menu-37 .nav-dropdown-sm .link:focus,
#menu-37 .nav-dropdown-sm .link:hover,
#menu-37 .nav-dropdown-sm .dropdown-item:focus,
#menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-37 .navbar,
#menu-37 .nav-dropdown-sm,
#menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-37 .bg-color.transparent.opened .link:hover,
#menu-37 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-39 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#content1-1m P {
  text-align: right;
  font-size: 22px;
}
#content1-1m H2 {
  font-size: 30px;
}
#content1-1m H1 {
  font-size: 36px;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#social-buttons4-4h .mbr-section-title,
#social-buttons4-4h .btn-social {
  color: #fff;
}
#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
}
#menu-24 .link {
  font-size: 1.25rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #000000;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #171c2c;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#content1-4k P {
  text-align: right;
  font-size: 22px;
}
#content1-4k H2 {
  font-size: 30px;
}
#content1-4k H1 {
  font-size: 36px;
}
#content1-4n P {
  text-align: right;
  font-size: 22px;
}
#content1-4n H2 {
  font-size: 22px;
  text-align: left;
}
#content1-4n H1 {
  font-size: 36px;
  text-align: right;
}
#content1-4p P {
  text-align: right;
  font-size: 22px;
}
#content1-4p H2 {
  font-size: 22px;
}
#content1-4p H1 {
  font-size: 36px;
}
#content1-4r P {
  text-align: right;
  font-size: 22px;
}
#content1-4r H2 {
  font-size: 22px;
}
#content1-4r H1 {
  font-size: 36px;
}
#content1-4r DIV {
  text-align: right;
}
#social-buttons4-4t .mbr-section-title,
#social-buttons4-4t .btn-social {
  color: #fff;
}
#footer1-2c P {
  color: #ffffff;
  font-size: 22px;
}
#menu-3p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3p .navbar-caption {
  color: #ffffff;
}
#menu-3p .navbar-toggler {
  color: #ffffff;
}
#menu-3p .close-icon::before,
#menu-3p .close-icon::after {
  background-color: #ffffff;
}
#menu-3p .link,
#menu-3p .dropdown-item {
  color: #ffffff;
}
#menu-3p .link {
  font-size: 1.25rem;
}
#menu-3p .dropdown-item,
#menu-3p .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3p .link:hover,
#menu-3p .dropdown-item:hover,
#menu-3p .link:focus,
#menu-3p .dropdown-item:focus {
  color: #000000;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-menu {
  background: #171c2c;
}
#menu-3p .nav-dropdown-sm .link:focus,
#menu-3p .nav-dropdown-sm .link:hover,
#menu-3p .nav-dropdown-sm .dropdown-item:focus,
#menu-3p .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-3p .navbar,
#menu-3p .nav-dropdown-sm,
#menu-3p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3p .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-3p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3p .bg-color.transparent.opened .link:hover,
#menu-3p .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-3q .mbr-section-title,
#header3-3q .mbr-section-subtitle {
  text-align: center;
}
#content1-3s P {
  text-align: right;
  font-size: 22px;
}
#content1-3s H2 {
  font-size: 22px;
}
#content1-3s H1 {
  font-size: 48px;
}
#social-buttons4-4v .mbr-section-title,
#social-buttons4-4v .btn-social {
  color: #fff;
}
#footer1-3u P {
  color: #ffffff;
  font-size: 22px;
}
#menu-3v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3v .navbar-caption {
  color: #ffffff;
}
#menu-3v .navbar-toggler {
  color: #ffffff;
}
#menu-3v .close-icon::before,
#menu-3v .close-icon::after {
  background-color: #ffffff;
}
#menu-3v .link,
#menu-3v .dropdown-item {
  color: #ffffff;
}
#menu-3v .link {
  font-size: 1.25rem;
}
#menu-3v .dropdown-item,
#menu-3v .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3v .link:hover,
#menu-3v .dropdown-item:hover,
#menu-3v .link:focus,
#menu-3v .dropdown-item:focus {
  color: #000000;
}
#menu-3v .link[aria-expanded="true"],
#menu-3v .dropdown-menu {
  background: #171c2c;
}
#menu-3v .nav-dropdown-sm .link:focus,
#menu-3v .nav-dropdown-sm .link:hover,
#menu-3v .nav-dropdown-sm .dropdown-item:focus,
#menu-3v .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-3v .navbar,
#menu-3v .nav-dropdown-sm,
#menu-3v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3v .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-3v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3v .bg-color.transparent.opened .link:hover,
#menu-3v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-3v .link[aria-expanded="true"],
#menu-3v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-3w .mbr-section-title,
#header3-3w .mbr-section-subtitle {
  text-align: center;
}
#content1-3y P {
  text-align: right;
  font-size: 22px;
}
#content1-3y H2 {
  font-size: 22px;
}
#content1-3y H1 {
  font-size: 22px;
}
#social-buttons4-4w .mbr-section-title,
#social-buttons4-4w .btn-social {
  color: #fff;
}
#footer1-40 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
}
#menu-1z .navbar-toggler {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #ffffff;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #ffffff;
}
#menu-1z .link {
  font-size: 1.25rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #000000;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #171c2c;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-21 P {
  color: #ffffff;
  font-size: 22px;
}
#social-buttons4-59 .mbr-section-title,
#social-buttons4-59 .btn-social {
  color: #fff;
}
#menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2d .navbar-caption {
  color: #ffffff;
}
#menu-2d .navbar-toggler {
  color: #ffffff;
}
#menu-2d .close-icon::before,
#menu-2d .close-icon::after {
  background-color: #ffffff;
}
#menu-2d .link,
#menu-2d .dropdown-item {
  color: #ffffff;
}
#menu-2d .link {
  font-size: 1.25rem;
}
#menu-2d .dropdown-item,
#menu-2d .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2d .link:hover,
#menu-2d .dropdown-item:hover,
#menu-2d .link:focus,
#menu-2d .dropdown-item:focus {
  color: #000000;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-menu {
  background: #171c2c;
}
#menu-2d .nav-dropdown-sm .link:focus,
#menu-2d .nav-dropdown-sm .link:hover,
#menu-2d .nav-dropdown-sm .dropdown-item:focus,
#menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2d .navbar,
#menu-2d .nav-dropdown-sm,
#menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2d .bg-color.transparent.opened .link:hover,
#menu-2d .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2e .mbr-section-title,
#header3-2e .mbr-section-subtitle {
  text-align: center;
}
#content1-51 P {
  text-align: right;
  font-size: 22px;
}
#content1-51 H2 {
  font-size: 22px;
}
#content1-51 H1 {
  font-size: 36px;
}
#content1-51 DIV {
  text-align: right;
}
#social-buttons4-52 .mbr-section-title,
#social-buttons4-52 .btn-social {
  color: #fff;
}
#footer1-2l P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#features4-17 .card-subtitle {
  color: #bcbcbc;
}
#features4-17 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#social-buttons4-10 .mbr-section-title,
#social-buttons4-10 .btn-social {
  color: #fff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 1.25rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #171c2c;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box6-g .mbr-section-title,
#msg-box6-g .lead p {
  color: #fff;
}
#msg-box6-g P {
  text-align: center;
}
#msg-box6-g H3 {
  text-align: center;
}
#msg-box6-h .mbr-section-title,
#msg-box6-h .lead p {
  color: #fff;
}
#msg-box6-h P {
  text-align: center;
}
#msg-box6-h H3 {
  text-align: center;
  color: #ffffff;
}
#msg-box6-i .mbr-section-title,
#msg-box6-i .lead p {
  color: #fff;
}
#msg-box6-i P {
  text-align: center;
}
#msg-box6-i H3 {
  text-align: center;
  color: #ffffff;
}
#features2-s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#testimonials4-o .mbr-section-title {
  color: #ffffff;
}
#testimonials4-o .card-footer > div {
  color: #ffffff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
}
#menu-a .link {
  font-size: 1.25rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #171c2c;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-b .mbr-section-title,
#content8-b p {
  text-align: right;
  color: #fff;
}
#content8-b .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content8-b P {
  text-align: right;
  color: #ffffff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2m .navbar-caption {
  color: #ffffff;
}
#menu-2m .navbar-toggler {
  color: #ffffff;
}
#menu-2m .close-icon::before,
#menu-2m .close-icon::after {
  background-color: #ffffff;
}
#menu-2m .link,
#menu-2m .dropdown-item {
  color: #ffffff;
}
#menu-2m .link {
  font-size: 1.25rem;
}
#menu-2m .dropdown-item,
#menu-2m .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2m .link:hover,
#menu-2m .dropdown-item:hover,
#menu-2m .link:focus,
#menu-2m .dropdown-item:focus {
  color: #000000;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-menu {
  background: #171c2c;
}
#menu-2m .nav-dropdown-sm .link:focus,
#menu-2m .nav-dropdown-sm .link:hover,
#menu-2m .nav-dropdown-sm .dropdown-item:focus,
#menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2m .navbar,
#menu-2m .nav-dropdown-sm,
#menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2m .bg-color.transparent.opened .link:hover,
#menu-2m .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#content1-4x P {
  text-align: right;
  font-size: 22px;
}
#content1-4x H2 {
  font-size: 22px;
  text-align: left;
}
#content1-4x H1 {
  font-size: 36px;
  text-align: right;
}
#social-buttons4-4y .mbr-section-title,
#social-buttons4-4y .btn-social {
  color: #fff;
}
#footer1-2u P {
  color: #ffffff;
  font-size: 22px;
}
#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
}
#menu-2v .link {
  font-size: 1.25rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #000000;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #171c2c;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-2w .mbr-section-title,
#header3-2w .mbr-section-subtitle {
  text-align: center;
}
#content1-56 P {
  text-align: right;
  font-size: 22px;
}
#content1-56 H2 {
  font-size: 22px;
}
#content1-56 H1 {
  font-size: 36px;
}
#social-buttons4-54 .mbr-section-title,
#social-buttons4-54 .btn-social {
  color: #fff;
}
#footer1-33 P {
  color: #ffffff;
  font-size: 22px;
}
