@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-danger {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #ffffff !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #ffffff;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
}
#menu-9 .link {
  font-size: 1.25rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #171c2c;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-6 .mbr-section-title,
#content8-6 p {
  text-align: right;
  color: #fff;
}
#content8-6 .mbr-section-title {
  text-align: center;
}
#content8-6 P {
  text-align: center;
  font-size: 36px;
  color: #ffff00;
}
#content8-6 .mbr-section-title SPAN {
  font-size: 32px;
}
#footer1-1g P {
  color: #ffffff;
  font-size: 22px;
}
#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
}
#menu-a .link {
  font-size: 1.25rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #171c2c;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content8-b .mbr-section-title,
#content8-b p {
  text-align: right;
  color: #fff;
}
#content8-b .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content8-b P {
  text-align: right;
  color: #ffffff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#msg-box6-g .mbr-section-title,
#msg-box6-g .lead p {
  color: #fff;
}
#msg-box6-g P {
  text-align: center;
}
#msg-box6-g H3 {
  text-align: center;
}
#msg-box6-h .mbr-section-title,
#msg-box6-h .lead p {
  color: #fff;
}
#msg-box6-h P {
  text-align: center;
}
#msg-box6-h H3 {
  text-align: center;
  color: #ffffff;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
}
#menu-c .link {
  font-size: 1.25rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #000000;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #171c2c;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box6-i .mbr-section-title,
#msg-box6-i .lead p {
  color: #fff;
}
#msg-box6-i P {
  text-align: center;
}
#msg-box6-i H3 {
  text-align: center;
  color: #ffffff;
}
#features2-s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#testimonials4-o .mbr-section-title {
  color: #ffffff;
}
#testimonials4-o .card-footer > div {
  color: #ffffff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 1.25rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #000000;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #171c2c;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#features4-17 .card-subtitle {
  color: #bcbcbc;
}
#features4-17 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#social-buttons4-10 .mbr-section-title,
#social-buttons4-10 .btn-social {
  color: #fff;
}
#footer1-19 P {
  color: #ffffff;
  font-size: 22px;
}
